//Checkboxen
.checkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}

.checkboxName {
  display: flex;
  align-items: center;

  input {
    accent-color: var(--primary-color);
  }
}

.werBringts {
  color: var(--primary-color-dark);
  font-family: "Behind Blue Eyes", Arial, sans-serif;
  font-weight: 100;
  text-align: right;
  margin-left: 8px;
}
