//Checkboxen
.checkbox {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 2px 8px 2px 2px;
  margin: 4px;

  &.checkbox_userChecked {
    background-color: var(--primary-color-transpa);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &.checkbox_checkable {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}

.checkboxName {
  display: flex;
  align-items: center;

  input {
    accent-color: var(--primary-color);
  }

  .food_disabled {
    color: gray;
  }
}

.werBringts {
  color: var(--primary-color-dark);
  font-family: "Behind Blue Eyes", Arial, sans-serif;
  font-weight: 100;
  text-align: right;
  margin-left: 8px;
}
