.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  border-radius: 7px;
  cursor: pointer;
  padding: 8px 12px;
  transition: 100ms ease-in-out;

  &.primary {
    background-color: var(--main-color-bright);
    border: 0;

    &:hover {
      background-color: var(--main-color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      transform: scale(1.05);
    }

    &:active {
      box-shadow: none;
      transform: scale(1);
    }
  }

  &.secondary {
    background-color: white;
    border: 2px solid var(--main-color-dark);
    font-weight: 600;

    &:hover {
      background-color: var(--main-color-bright);
    }
  }
}
