.adminSection {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  input,
  textarea {
    width: clamp(200px, 100%, 460px);
  }
}

.essenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .essenName {
    width: clamp(50px, 97%, 460px);
  }

  .input_second_row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;

    .kategorie {
      width: clamp(50px, 97%, 460px);
      min-width: 50px;
    }

    .werBringts {
      width: clamp(50px, 97%, 460px);
      min-width: 50px;
    }
  }

  input:nth-child(2) {
    color: var(--primary-color-dark);
  }

  svg {
    height: 100%;
    width: 25px;
    min-width: 25px;
    cursor: pointer;
  }
}

