
.tableContainer {
  width: 90vw;
  overflow: auto;
  margin: auto;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;
}

.tableHead {
  background-color: white;
  padding: 7px;
}

.tableStart {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  white-space: nowrap;
}

tbody {
  overflow: auto;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.trEat {
  position: sticky;
  left: 0;
}

.tableRow {
  padding: 7px;
  text-align: center;
}

.Salate {
  background-color: #eaffd9;
}

.Süßes {
  background-color: #cee3ff;
}

.Soßen {
  background-color: #ffe6c4;
}

.tr-true {
  background-color: #b4ffb4;
}

.tr-false {
  background-color: #ff9c9c;
}