.uebersichtSection {
  --border-table: rgb(169, 169, 169);
  --false-red: #ffacac;
  --true-green: #b7fab7;
}

.tableContainer {
  max-height: calc(100vh - 130px);
  width: clamp(318px, 100%, 500px);
  overflow: auto;
  margin: auto;

  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid var(--gray);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(270deg, var(--main-color) 0%, var(--main-color-bright) 100%);;
    border-radius: 5px;
  }
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;

  th:not(:last-child) {
    box-shadow: inset -1px -1px 1px var(--border-table);
  }

  th:last-child {
    box-shadow: inset 0px -1px 0px var(--border-table);
  }

  tr:not(:last-child) {
    border-bottom: 1px solid var(--border-table);
  }

  td:not(:last-child) {
    box-shadow: inset -1px 0px 0px var(--border-table);
  }
}

.tableStart {
  background-color: white;
  max-width: 120px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody {
  overflow: auto;
}

thead th {
  background-color: white;
  width: clamp(60px, 100%, 100px);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: white;
}

.trEat {
  position: sticky;
  left: 0;
  padding: 7px;
  text-align: center;
}

.tableRow {
  padding: 7px;
  text-align: center;

  &:nth-child(even) {
    & td:nth-child(1) {
      background-color: white;
    }
  }

  &:nth-child(odd) {
    & td:nth-child(1) {
      background-color: #FAFAFA;
    }
  }
}

.Salate {
  background-color: #eaffd9;
}

.Süßes {
  background-color: #cee3ff;
}

.Soßen {
  background-color: #ffe6c4;
}

.trTrue {
  background-color: var(--true-green);
  padding: 7px;
  text-align: center;
}

.trFalse {
  //background-color: var(--false-red);
  padding: 7px;
  text-align: center;
}