.uebersichtSection {
  --border-table: rgb(138, 138, 138);
  --false-red: #ffacac;
  --true-green: #b7fab7;
  margin-top: 35px;
}

.tableContainer {
  width: 90vw;
  max-height: calc(100vh - 130px);
  overflow: auto;
  margin: auto;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;

  th{
    border-bottom: 1px solid var(--border-table);
    border-right: 1px solid var(--border-table);
  }
  tr{
    border-bottom: 1px solid var(--border-table);
  }
  td{
    border-bottom: 1px solid var(--border-table);
    border-right: 1px solid var(--border-table);
  }
}

.tableHead {
  min-width: 60px;
  background-color: white;
  padding: 7px;
}

.tableStart {
  background-color: white;
  max-width: 120px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody {
  overflow: auto;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.trEat {
  background-color: white;
  position: sticky;
  left: 0;
  padding: 7px;
  text-align: center;
}

.tableRow {
  padding: 7px;
  text-align: center;
}

.Salate {
  background-color: #eaffd9;
}

.Süßes {
  background-color: #cee3ff;
}

.Soßen {
  background-color: #ffe6c4;
}

.trTrue {
  background-color: var(--true-green);
  padding: 7px;
  text-align: center;
}

.trFalse {
  background-color: var(--false-red);
  padding: 7px;
  text-align: center;
}