.partyName {
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

.infosContainer,
.ortContainer,
.datumContainer,
.zeitContainer {
  font-size: 17px;
  width: 290px;
  margin-bottom: 10px;
}

.datumContainer,
.zeitContainer {
  display: flex;
  justify-content: space-between;
}

// Ort

.ortText {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 25px;
  }
}

.ortArrowContainer {
  display: flex;
  align-items: center;
}

.ort {
  margin-right: 5px;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.infosContainer {
  textarea {
    font-size: 17px !important;
    width: 290px;
    border: none;
    resize: vertical;
    padding: 0;
    margin: 0;

    &:focus-visible {
      outline: none;
    }

    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid var(--gray);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(270deg, var(--primary-color) 0%, var(--primary-color-bright) 100%);;
      border-radius: 5px;
    }

    &::-webkit-resizer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent var(--primary-color) transparent;
    }
  }
}

//Checkboxen
.checkbox {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}

.checkboxName {
  display: flex;
  align-items: center;

  input {
    accent-color: var(--primary-color);
  }
}

.werBringts {
  color: darkred;
  font-family: "Behind Blue Eyes", Arial, sans-serif;
  font-weight: 100;
  margin-left: 10px;
}

.neuesEssenContainer {
  display: flex;
  flex-direction: column;
}

.ausfuellen {
  color: red;
  font-size: 14px;
  text-align: center;
}

#name {
  margin: 20px 10px;
}

.nameSpeichernContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23px;
}

.auswahlGespeichert {
  font-size: 20px;
  margin-top: 10px;
  transform: scale(0);
  animation: comeInandOut 2.5s;
}

@keyframes comeInandOut {
  0% {
    transform: scale(0.5);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}