.partyName {
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

.infosContainer,
.datumContainer,
.zeitContainer {
  font-size: 17px;
  width: 300px;
  margin-bottom: 8px;
}

.datumContainer,
.zeitContainer {
  display: flex;
  justify-content: space-between;
}


.checkboxContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.infosContainer {
  textarea {
    font-size: 16px !important;
    min-width: 292px;
    border: none;
    resize: vertical;
    padding: 4px;
    margin: 0;

    &:focus-visible {
      outline: none;
    }

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid var(--gray);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(270deg, var(--primary-color) 0%, var(--primary-color-bright) 100%);;
      border-radius: 4px;
    }

    &::-webkit-resizer {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 8px 8px;
      border-color: transparent transparent var(--primary-color) transparent;
    }
  }
}


.neuesEssenContainer {
  display: flex;
  flex-direction: column;
}

.essenBtnContainer {
  width: 300px;
}

.ausfuellen {
  color: red;
  font-size: 14px;
  text-align: center;
}

#name {
  margin: 20px 10px;
}

.nameSpeichernContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.auswahlGespeichert {
  font-size: 20px;
  margin-top: 10px;
  transform: scale(0);
  animation: comeInandOut 2.5s;
}

@keyframes comeInandOut {
  0% {
    transform: scale(0.5);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}