.wahlSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partyName {
  max-width: 300px;
  margin-bottom: 10px;
  text-align: center;
}

.infosContainer,
.ortContainer,
.datumContainer {
  font-size: 17px;
  width: 250px;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}

.checkboxName {
  display: flex;
  align-items: center;
}

.werBringts {
  color: darkred;
  font-family: "Behind Blue Eyes";
  font-weight: 100;
  margin-left: 10px;
}

.neuesEssenContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 0;
}

#name {
  margin: 20px 10px;
}