.nav {
  background: var(--linear-primary);
  min-height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_content {
  width: clamp(318px, 90%, 500px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 64px;
}

.navLogo {
  height: 1.3em;
}

.pages {
  display: flex;
  gap: 8px;
}

.link,
.link_logo {
  background: rgba(255, 255, 255, 0.35);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 15px 15px 0 0;
  padding: 8px 8px 16px 8px;
  cursor: pointer;
  text-decoration: none;

  &:hover:not(.link_active) {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.25);
  }
}

.link_logo {
  padding: 8px 16px 16px 16px;
}

.link_active {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.25);
}

.link_back {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 8px 16px 16px 16px;
  cursor: pointer;
}